@page "/space-info/{CurrentSpaceID}"

@using RentOfWorkshopsCore.DBConnection
@using RentOfWorkshopsCore.DBContext

<div class="space">
    <div/>
    <div>
        <div class="space-maininfo">
            <div class="space-maininfo-title">
                <p>@_space.TypeOfSpace.Name</p>
            </div>
            <div class="main-info">
                <div class="current-space-image">
                    @if(_photoBytes != null)
                    {
                        <img class="current-space-image" src="data:image/bmp;base64,@(Convert.ToBase64String(_photoBytes))"/>
                    }
                    else
                    {
                        <img class="current-space-image" src="images/noimage.jpg"/>
                    }
                </div>
                <div class="space-info">
                    <p>@_space.House.Street.City.Name</p>
                    <p>@_space.House.Street.Name</p>
                    <p>@_space.House.Number</p>
                    <p>@_space.Square</p>
                    <p>@_space.AmountPerHour</p>
                </div>
            </div>  
        </div>
        <div class="description"> 
            @_space.Description
        </div>
    </div>
    <div/>
</div>

@code {
    [Parameter]
    public string CurrentSpaceID { get; set; }
    private byte[] _photoBytes;

    private Space _space;

    protected override Task OnInitializedAsync()
    {
        _space = SQLConnection.GetSpace(Convert.ToInt32(CurrentSpaceID));
        if(_space.Picture != null)
            _photoBytes = _space.Picture;
        return base.OnInitializedAsync();
    }
}
