@using RentOfWorkshopsCore.DBConnection
@using RentOfWorkshopsCore.DBContext

<div class="" style="ve">
    @if(_photoBytes != null)
    {
        <img src="data:image/bmp;base64,@(Convert.ToBase64String(_photoBytes))"/>
    }
    <div>
        <p>@Space.TypeOfSpace.Name</p>
        <p>@Space.House.Street.City.Name</p>
        <p>@Space.House.Street.Name</p>
        <p>@Space.House.Number</p>
        <p>@Space.AmountPerHour руб.</p>
    </div>
    <br />
</div>

@code {
    [Parameter]
    public Space Space { get; set; }
    private byte[] _photoBytes;

    protected override Task OnInitializedAsync()
    {
        if(Space.Picture != null)
            _photoBytes = Space.Picture;
        return base.OnInitializedAsync();
    }

}
