@using RentOfWorkshopsCore.DBConnection
@using RentOfWorkshopsCore.DBContext
@using RentOfWorkshopsWEB.Shared.Modals
@inherits ModalBaseComponent

@inject SpaceCollection SpaceCollection
@inject UserContext UserContext

<div class="@ModalClass" tabindex="-1" role="dialog" style="@ModalDisplay">
    <div class="modal-dialog modal-dialog-scrollable" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title unselectable">
                    @CurrentSpace.TypeOfSpace.Name
                </h5>
            </div>
            <div class="modal-body">
                @if(CurrentSpace.Picture != null)
                {
                    <img class="space-image" src="data:image/bmp;base64,@(Convert.ToBase64String(CurrentSpace.Picture))"/>
                }
                else
                {
                    <img class="space-image" src="images/noimage.jpg"/>
                }
                <div>
                    <p>@CurrentSpace.House.Street.City.Name, @CurrentSpace.House.Street.Name, @CurrentSpace.House.Number</p>
                </div>
                <div class="amount-square">
                    <p>@CurrentSpace.AmountPerHour</p>
                    <p>@CurrentSpace.Square</p>
                </div>
                <div>
                    <p>@CurrentSpace.Description</p>
                </div>
                <div>
                    <ul>
                        @foreach(var item in CurrentSpace.TypeOfSpace.TypeOfEquipment)
                        {
                            <li>@item.Equipment</li>
                        }
                    </ul>
                </div>
                <div class="">
                    <label>Количество часов</label>
                    <select class="form-control form-control-sm" @bind=_timeId>
                        <option value=1>1 час</option>
                        <option value=2>3 часа</option>
                        <option value=3>6 часов</option>
                        <option value=4>12 часов</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="CreateRent">Арендовать</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Close">Отмена</button>
            </div>
        </div>
    </div>
</div>

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"/>
}

@code {
    [Parameter]
    public Space CurrentSpace { get; set; }

    private int _timeId = 1;

    private void CreateRent()
    {
        int rentHours;
        Rent rent = new Rent();
        switch(_timeId)
        {
            case 1: rentHours = 1; break;
            case 2: rentHours = 3; break;
            case 3: rentHours = 6; break;
            case 4: rentHours = 12; break;
            default: return;
        }

        rent.ClientId = UserContext.User.ClientId;
        rent.RentHours = rentHours;
        rent.SpaceId = CurrentSpace.Id;
        DateTime datetime = DateTime.Now;
        rent.EndDate = datetime.AddHours(rentHours);
        rent.TotalAmount = CurrentSpace.AmountPerHour * rentHours;

        SQLConnection.AttachSpace(CurrentSpace);
        CurrentSpace.StatusId = 2;

        try
        {
            SQLConnection.AddRent(rent);
            Close();
            SpaceCollection.UpdateList();
        }
        catch(Exception ex)
        {
            
        }
    }
}
