@using RentOfWorkshopsCore.DBConnection
@using RentOfWorkshopsCore.DBContext
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="space-item" style="ve">
    @if(_photoBytes != null)
    {
        <img class="space-image" src="data:image/bmp;base64,@(Convert.ToBase64String(_photoBytes))"/>
    }
    else
    {
        <img class="space-image" src="images/noimage.jpg"/>
    }
    <div>
        <a @onclick="NavigateIntoSpace">@Space.TypeOfSpace.Name</a>
        <div class="secondary-info">
            <p class="secondary-info-p">@Space.House.Street.City.Name</p>
            <p class="secondary-info-p">@Space.House.Street.Name</p>
            <p class="secondary-info-p">@Space.House.Number</p>
            <p class="secondary-info-p">@Space.AmountPerHour руб.</p>
        </div>
    </div>
    <br />
</div>

@code {
    [Parameter]
    public Space Space { get; set; }
    private byte[] _photoBytes;

    protected override Task OnInitializedAsync()
    {
        if(Space.Picture != null)
            _photoBytes = Space.Picture;
        return base.OnInitializedAsync();
    }
    
    private async void NavigateIntoSpace()
    {
        await JSRuntime.InvokeAsync<object>("open", $"space-info/{Space.Id}");
    }
}
