@using RentOfWorkshopsCore.DBConnection
@using RentOfWorkshopsCore.DBContext
@using RentOfWorkshopsWEB.Shared.Modals.Registration

@inherits Modals.ModalBaseComponent

@inject SpaceCollection SpaceCollection

<div class="@ModalClass" tabindex="-1" role="dialog" style="@ModalDisplay">
    <div class="modal-dialog modal-dialog-scrollable" role="document" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title unselectable">
                    Удалить помещение
                </h5>
            </div>
            <div class="modal-body">
                <SpaceFieldComponent Title="Тип помещения" Value="@CurrentSpace.TypeOfSpace.Name"/>
                <SpaceFieldComponent Title="Город" Value="@CurrentSpace.House.Street.City.Name"/>
                <SpaceFieldComponent Title="Улица" Value="@CurrentSpace.House.Street.Name"/>
                <SquareComponent Title="Дом" Value="@CurrentSpace.House.Number"/>
                <AmountComponent Title="Цена/ч" Value="@CurrentSpace.AmountPerHour"/>
                <SquareComponent Title="Площадь"Value="@CurrentSpace.Square"/>
                <div class="mb-3">
                    <textarea class="form-control">@_description</textarea>
                </div>
                <div class="add-image">
                    @if(_photoBytes != null)
                    {
                        <img class="space-image" src="data:image/bmp;base64,@(Convert.ToBase64String(_photoBytes))"/>
                    }
                    <InputFile OnChange="AddImage" accept="image/*"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Обновить</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="Close">Отмена</button>
            </div>
        </div>
    </div>
</div>

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"/>
}

@code {
    [Parameter]
    public Space CurrentSpace  { get; set; }

    private byte[] _photoBytes;
    private string _description;

    protected override Task OnInitializedAsync()
    {
        if(CurrentSpace.Picture != null)
            _photoBytes = CurrentSpace.Picture;

        if (!String.IsNullOrEmpty(CurrentSpace.Description))
            _description = CurrentSpace.Description;
        return base.OnInitializedAsync();
    }

    private async Task AddImage(InputFileChangeEventArgs e)
    {
        MemoryStream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);
        _photoBytes = ms.ToArray();
        await InvokeAsync(StateHasChanged);
    }
}
